@import "./libs/foundation-six.min";
@import "./libs/owl.carousel.min";
@import "./libs/owl.theme.default.min";

@import "./fonts";

// px to rem
$browser-context: 16;
@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

body {
	font-family: "Roboto-Regular", sans-serif;
}

form,
button,
input,
textarea {
	&:active,
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.grid-container {
	width: 100%;
	margin: 0 auto;
	padding: 0 rem(10);
}

@import "./blocks/main/header";
@import "./blocks/main/footer";
@import "./blocks/index-slider";
@import "./blocks/category";
@import "./blocks/single";
@import "./blocks/404";
